<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>South Africa Covid Details</title>
</head>
<body>
    <h1>South Africa Covid Details</h1>
    <table>
        <tbody>
        <tr>
            <td>Country</td>
            <td>Confirmed</td>
            <td>Deaths</td>
            <td>Recovered</td>
            <td>Active</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.Country }}</td>
            <td>{{ i.Confirmed }}</td>
            <td>{{ i.Deaths }}</td>
            <td>{{ i.Recovered }}</td>
            <td>{{ i.Active }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>